{% extends 'course/basic_page.html' %}
{% block course_active %}active{% endblock %}


{% block body %}
<br>
<div class="container-fluid songs-container" >

    <div class="row">

    <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">

                <div class="panel-body" style="background-color: #e3f0e8;border: 0px solid #66cdaa;">
                    <a href="{% url 'course:detail' course.id %}">
                        {% if course.course_logo %}
                            <img src="{{ course.course_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 align="center">{{ course.code }}<br> <small>{{ course.name }}</small></h1>
                    <h2 align="center">{{ course.instructor }}</h2>
                </div>
            </div>
        </div>



        <div class="col-sm-7" style="align:center; overflow-y: scroll; height:650px;border: 3px solid #66cdaa;background-color:#e3f0e8;color:black;font-family: 'Abhaya Libre';font-size:16px;">
        <h3 align="center"; style="text-align:center;font-family:Volkhov,cursive;font-size:40px;color: #728892">Assignments</h3>
    {% for assignment in assignments reversed %}
<div style="background-color:#CDD8CD; border-radius:2%;padding:10px; margin:5px">
        {{ assignment.description }}<br>
        Post Time: {{ assignment.post_time }}<br>
        Deadline: {{ assignment.deadline }}<br><br>
        <a href="{{ assignment.file.url }}">
        <button type="submit" class="btn btn-success">Download Assignment</button></a>
        <a href="{% url 'course:upload_submission' assignment.id %}">
        <button type="submit" class="btn btn-success">Upload Submission</button></a>
        <br>
</div>
    {% endfor %}
        </div><br><br><br>
</div>
</div><br><br><br>
{% endblock %}