{% extends 'course/basic_page.html' %}
{% block course_active %}active{% endblock %}


{% block body %}
<br>
<div class="container-fluid songs-container">

    <div class="row">

    <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">

                <div class="panel-body" style="background-color: #e3f0e8;border: 0px solid #66cdaa;">
                    <a href="{% url 'course:detail' course.id %}">
                        {% if course.course_logo %}
                            <img src="{{ course.course_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 align="center">{{ course.code }}<br> <small>{{ course.name }}</small></h1>
                    <h2 align="center">{{ course.instructor }}</h2>
                </div>
            </div>
        </div>



        <div class="col-sm-7" style="position:fixed-righ; overflow-y: scroll; height:650px;border: 3px solid #66cdaa;background-color:#e3f0e8;color:black;font-family: 'Abhaya Libre';font-size:16px;">
        <h3 align="center"; style="text-align:center;font-family:Volkhov,cursive;font-size:40px;color: #728892">Resources</h3>

    {% for resource in resources reversed %}
            <div style="background-color:#CDD8CD; border-radius:2%;padding:10px; margin:5px">
        {{ resource.title }} -
                <div style="position:right">
        <a href="{{ resource.file_resource.url }}" style="text-align:right">
            <button type="submit" class="btn btn-success">Download</button>
        </a><br>
                    </div>

            </div>
    {% endfor %}

        </div>
</div>
</div>
{% endblock %}